<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>P&aacute;gina de Confirmaci&oacute;n</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.2/css/bootstrap.min.css'/>

    <script type='text/javascript' src='/webjars/jquery/1.11.1/jquery.js'></script>
    <script type='text/javascript' src='/webjars/bootstrap/3.3.2/js/bootstrap.min.js'></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <br/>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a th:href="@{/list}">Listado de Workspaces</a>
                </li>
            </ul>
            <h3>
                Listado de Workspaces
            </h3>


            <br/>

            <div class="btn-group">
                <a class="btn btn-default" th:href="@{/workspace}" data-toggle="modal"
                   data-target="#add-workspace-modal"><em
                        class="glyphicon glyphicon-plus"></em>Adicionar</a>
            </div>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th> ID</th>
                    <th> Nombre</th>
                    <th> L&iacute;mite de Figuras</th>
                    <th> Cantidad de Figuras</th>
                    <th> &Aacute;rea total</th>
                    <th> Apotema total</th>
                    <td> Acciones</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="workspace : ${workspaces}">
                    <td th:text="${workspace.id}">0</td>
                    <td th:text="${workspace.nombre}">Workspace</td>
                    <td th:text="${workspace.limiteFiguras}">1</td>
                    <td th:text="${#lists.size(workspace.figuras)}">0</td>
                    <td th:text="${#numbers.formatDecimal(workspace.getAreaTotal(),1,2)}">1</td>
                    <td th:text="${#numbers.formatDecimal(workspace.getApotemaTotal(),1,2)}">1</td>

                    <td class="td-actions">

                        <a th:href="@{./figura/{id}(id=${workspace.id})}" class="btn btn-small" title="Ver figuras">
                            <i class="btn-icon-only glyphicon glyphicon-th"></i>
                        </a>

                        <a th:href="@{/workspace/{id}(id=${workspace.id})}" class="btn btn-small" title="Editar"
                           data-toggle="modal"
                           data-target="#add-workspace-modal">
                            <i class="btn-icon-only glyphicon glyphicon-pencil"></i>
                        </a>

                        <a th:href="@{./eliminar/workspace/{id}(id=${workspace.id})}" class="btn btn-small"
                           title="Eliminar">
                            <i class="btn-icon-only glyphicon glyphicon-remove"></i>
                        </a>

                        <a th:href="@{./get/{id}(id=${workspace.id})}" class="btn btn-small"
                           title="Ver REST service">
                            <i class="btn-icon-only glyphicon glyphicon-download-alt"></i>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="add-workspace-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Adicionar Workspace
                </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>