<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>P&aacute;gina de Confirmaci&oacute;n</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.2/css/bootstrap.min.css'/>

    <script type='text/javascript' src='/webjars/jquery/1.11.1/jquery.js'></script>
    <script type='text/javascript' src='/webjars/bootstrap/3.3.2/js/bootstrap.min.js'></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <br/>
            <ul class="nav nav-tabs">
                <li>
                    <a th:href="@{/list}">Listado de Workspaces</a>
                </li>
            </ul>

            <h3 th:text="' Listado de figuras del Workspace: ' + ${workspace.nombre}">
                Listado de figuras del Workspace
            </h3>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Adicionar<strong
                                class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/figura?type={type}(type='cuadrado',workspaceId=${workspace.id})}"
                                   data-toggle="modal"
                                   data-target="#add-figura-modal">Cuadrado</a>
                            </li>
                            <li>
                                <a th:href="@{/figura?type={type}(type='triangulo',workspaceId=${workspace.id})}"
                                   data-toggle="modal"
                                   data-target="#add-figura-modal">Tri&aacute;ngulo</a>
                            </li>
                            <li>
                                <a th:href="@{/figura?type={type}(type='hexagono',workspaceId=${workspace.id})}"
                                   data-toggle="modal"
                                   data-target="#add-figura-modal">Hex&aacute;gono</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <span th:if="${r !=null}"
                  th:text="${r == 'ok'}? 'Figura adiciona correctamente' : 'El workspace tiene el l&iacute;mite de figuras posibles'"
                  th:class="${r == 'ok'}? 'label label-success': 'label label-danger'">Label</span>
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th> #</th>
                    <th> N&uacute;mero de lados</th>
                    <th> Tipo</th>
                    <th> &Aacute;rea</th>
                    <th> Per&iacute;metro</th>
                    <th> Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="figura,status : ${workspace.figuras}">
                    <td th:text="${status.count}">0</td>
                    <td th:text="${figura.numLados}">0</td>
                    <td th:text="${figura.class.simpleName}">0</td>
                    <td th:text="${#numbers.formatDecimal(figura.getArea(),1,2)}">0</td>
                    <td th:text="${#numbers.formatDecimal(figura.getPerimetro(),1,2)}">0</td>
                    <td class="td-actions">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="btn-icon-only glyphicon glyphicon-random"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a th:href="@{/c-figura?type={type}(type='cuadrado',workspaceId=${workspace.id},posicion=${status.index})}"
                                       data-toggle="modal"
                                       data-target="#add-figura-modal">Cuadrado</a>
                                </li>
                                <li>
                                    <a th:href="@{/c-figura?type={type}(type='triangulo',workspaceId=${workspace.id},posicion=${status.index})}"
                                       data-toggle="modal"
                                       data-target="#add-figura-modal">Tri&aacute;ngulo</a>
                                </li>
                                <li>
                                    <a th:href="@{/c-figura?type={type}(type='hexagono',workspaceId=${workspace.id},posicion=${status.index})}"
                                       data-toggle="modal"
                                       data-target="#add-figura-modal">Hex&aacute;gono</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="add-figura-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Adicionar Figura
                </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>