<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<form role="form" th:action="@{/workspace}" th:object="${workspace}" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel" th:text="${titulo}">
            Nuevo workspace
        </h4>
    </div>
    <div class="modal-body">

        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="workspace-nombre">Nombre</label>
            <input type="text" class="form-control" id="workspace-nombre" th:field="*{nombre}"/>
        </div>
        <div class="form-group">
            <label for="workspace-limite">L&iacute;mite de Figuras</label>
            <input type="number" class="form-control" id="workspace-limite" th:field="*{limiteFiguras}"/>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
</html>




